---
import { Icon } from "astro-icon";
---

<footer id="footer" class="flex flex-col justify-center mt-auto">
    <div id="footer-container" class="flex flex-row justify-center gap-6 mb-4">
        <a href="https://github.com/lolgio">
            <Icon class="w-12 h-12" name="mdi:github" />
        </a>
        <a href="https://nz.linkedin.com/in/giovanni-glendining-7334b9248">
            <Icon class="w-12 h-12" name="mdi:linkedin" />
        </a>
        <a href="mailto:gioguccimane@gmail.com">
            <Icon class="w-12 h-12" name="ri:mail-open-fill" />
        </a>
    </div>
</footer>
