---
---
<footer id="footer" class="flex flex-col justify-center mt-auto">
    <div id="footer-container" class="flex flex-row justify-center gap-6 mb-4">
        <span>~</span>
        <a href="githublink">Github</a>
        <span>-</span>
        <a href="twitterlink">Twitter</a>
        <span>~</span>
    </div>
</footer>