---
---
<header id="home-header">
    <div class="header">
        <h1>Hello, I'm Gio.</h1>
        <h2 class="my-4 no-underline">I like to <span class="typed"></span></h2>
    </div>
    <script>
        import Typed from "typed.js";

        const options = {
            strings: [
                "develop web apps",
                "build keyboards",
                "learn new languages",
                "explore new technologies",
            ],
            typeSpeed: 30,
            backSpeed: 25,
            backDelay: 2500,
            loop: true,
        };

        new Typed(".typed", options);
    </script>
</header>
