---
import ThemeToggle from "./ThemeToggle";
---

<nav id="navbar" class="flex flex-wrap mt-4 gap-16">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <ThemeToggle client:load />
</nav>
<hr class="my-5" />
