---
---
<nav id="navbar" class="flex flex-wrap mt-2 gap-16">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/socials">Socials</a>
    <a href="/contact">Contact</a>
</nav>
<hr class="my-5">